<main>
    <h1>Cars</h1>
    <div *ngIf="loading">Chargement...</div>
    <div *ngIf="error" style="color:red">{{ error }}</div>
    <ul>
        <li *ngFor="let car of cars">
            <strong>{{ car.brand }} {{ car.model }}</strong>
            <span>- {{ car.pricePerDay }} €/jour</span>
            <span *ngIf="car.isRented" style="color: red; margin-left: 1em;">Déjà louée</span>
            <button *ngIf="!car.isRented" (click)="reserveCar(car)">Réserver</button>
        </li>
    </ul>
</main>